mixin section(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	section(class=spec.__class)&attributes(attributes)
		if spec.title
			- var hidden = spec.hidden ? 'visuallyHidden' : ''
			#{spec.tag}(class=hidden)=spec.title

		if block
			block
		else
			p No content.
