extends ../_layouts/base

include ../_modules/organisms/related-articles/related-articles
include ../_modules/organisms/social-sharing/social-sharing

block append config
    //- Correct base url pathing for this page
    - var baseUrl = '../'

block content
    main.main-content(style="padding: 37px 0 0;")
        .container
            +rte({
                "__class": "col-sm-8 offset-sm-2"
            })
                h1(style="font-size: 28px; line-height: 155%;") ​Driving into the Future with Driverless Buses

                p The bus you board in the near future may well be a driverless one. Developed by NTU’s Energy Research Institute (ERI@N) and the Land Transport Authority (LTA), the bus of the future may well be electric-hybrid vehicles that can be charged at the bus depot or bus stop, as well. The innovation was announced in 2016, along with plans to trial the “green bus”, ferrying commuters between Pioneer MRT and NTU.

                p Autonomous buses are meant to provide safe and enjoyable rides for the public. Hence, automated driving technologies used will be “humanised” and will be able to perform defensive yet assertive driving in a mixed traffic environment. For example, the use of global navigation satellite systems (GNSS), sensors like light detection and ranging (LIDARs) and cameras, and the ability to integrate high definition mapping data all ensure the autonomous bus maintains its proper position in the lane and navigates safely in complex traffic scenarios.

                p For the autonomous bus to accurately make sense of its environment, data from multiple cameras, LIDARs, radars and ultrasonic sensors will be fused together and processed, to produce a 360-degree robust representation of static and dynamic objects under different weather conditions. Meanwhile sophisticated algorithms calculate free space and anticipates how the environment may change to enable smooth driving for a safe and enjoyable ride. These are all secured by technologies actively preventing any intrusions or threats that could impact driving. Remotely, a fleet manager can also actively monitor a fleet of autonomous buses using a robotics management system.
                p With all these structures in place, commuters can look forward to an exciting future as autonomous buses soon take to the roads, creating a paradigm shift in productivity and resource optimisation, amongst other benefits. Contact us at comms@stengg.com to find out more about ST Engineering’s autonomous buses.

            +social-sharing({
                "__class": "col-sm-2 right",
                "image": "/assets/images/social.png"
            })

        .container
            +related-articles({
                "articles": [
                    {
                        "image": "/assets/images/article1.jpg",
                        "title": "Leading the Charge in Providing Clean Energy",
                        "text": "This new facility puts NTU at the forefront of global maritime energy research, developing sustainable maritime energy solutions and raising Singapore’s maritime R&D capabilities and expertise​​.",
                        "url": "#"
                    },
                    {
                        "image": "/assets/images/article2.jpg",
                        "title": "Adaptive control of a hybrid electric vehicle",
                        "text": "Hybrid Electric Vehicle (HEV) is a type of hybrid and electric vehicle which makes use of efficiency-improving technologies such as regenerative braking.",
                        "url": "#"
                    },
                    {
                        "image": "/assets/images/article3.jpg",
                        "title": "Amphibious all terrain unmanned ground vehicle",
                        "text": "The objective is to design and fabricate an amphibious vehicle that in the future will be able to house modules like sensors and robotic arms.",
                        "url": "#"
                    }
                ]
            })
