mixin site-footer(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	//- footer.site-footer.container(style="padding: 0;")
	footer.site-footer
		img(src="/assets/images/site-footer.jpg", alt="")
		//- .site-footer__top
		//- 	.container

		//- .site-footer__middle
		//- 	.container

		//- .site-footer__bottom
		//- 	.container
