extends ../_layouts/base

include ../_modules/organisms/related-articles/related-articles

block append config
    //- Correct base url pathing for this page
    - var baseUrl = '../'

block content
    .container
        +rte({
            "__class": "col-sm-8 offset-sm-2"
        })
            h1(style="font-size: 28px; line-height: 155%;") ​Leading the Charge in Providing Clean Energy

            p NTU is behind the development of Southeast Asia’s first maritime energy testbed which was launched in 2015. Built at a cost of $8 million, the facility is dedicated to conducting R&D on clean fuels, fuel additives that increase energy efficiency, and technologies for cleaner emissions. The facility will also serve as a training platform for polytechnic students, undergraduates and PhD candidates.

        +rte({
            "__class": "col-sm-8 offset-sm-4"
        })
            p(style="font-size: 18px; line-height: 151%;")
                strong "This new facility puts NTU at the forefront of global maritime energy research, developing sustainable maritime energy solutions and raising Singapore's maritime R&D capabilities and expertise."

            p
                strong - NTU Chief of Staff and Vice-President for Research, Professor Lam Khin Yong

            p

            p
                strong Benefits:

            ul
                li Provides training ground for students, undergraduates, and PhD candidates
                li Helps develop sustainable maritime energy solutions that can benefit the world
            p
                strong Moving Forward:
                br
                | With this new testbed, the development of new maritime energy solutions is likely to follow. In the long run, this helps to raise Singapore’s standing as a global key player in developing sustainable energy solutions.

            p For more information:
                br
                | Tel : +65 6790 6080
                br
                | Email: maindo@ntu.edu.sg

        +related-articles({
            "articles": [
                {
                    "image": "/assets/images/article4.jpg",
                    "title": "Energy Savings with an Algorithm",
                    "text": "Increased energy savings of up to 10 per cent may well become the reality for companies in the future. This is all thanks to an algorithm developed by Assistant Professor Wen Yonggang from the NTU School of Computer Engineering",
                    "url": "#"
                },
                {
                    "image": "/assets/images/article5.jpg",
                    "title": "Blending Form, Function – and the Future",
                    "text": "The futuristic light sculpture is a collaboration between the School of Art, Design and Media (ADM), the Energy Research Institute @ NTU (ERI@AN), and the NTU Museum.",
                    "url": "#"
                },
                {
                    "image": "/assets/images/article6.jpg",
                    "title": "Re-purposing Soy Bean Residue for Yeast Cultivation",
                    "text": "Researchers from NTU’s School of Chemical and Biomedical Engineering have found a way to slash the cost of producing yeast – a key ingredient in baking, beer making, and vaccine production.",
                    "url": "#"
                }
            ]
        })
