//- Modules includes
//- Common
include ../_modules/utils/section/section
include ../_modules/utils/back-to-top/back-to-top
include ../_modules/utils/table-responsive/table-responsive
include ../_modules/utils/select-clone/select-clone

//- Atoms
include ../_modules/atoms/button/button

//- Molecules
//- include ../_modules/molecules//

//- Organisms
include ../_modules/organisms/site-header/site-header
include ../_modules/organisms/site-footer/site-footer
include ../_modules/organisms/rte/rte

//- Custom Configuration
block config
	//- Setup site's base URL to match the "baseUrl" key within `package.json`
	//- Otherwise default to relative pathing
	- var baseUrl = config.baseUrl || './'
	- var pageTitle = 'Home' || ntu-pitch
	- var pageDescription
	- var isHome = false
	-
		var navLevel = {
			"levelOne": -1,
			"levelTwo": -1,
			"levelThree": -1
		}

doctype html
<html class='no-js' lang='en'>

head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	title=pageTitle
	meta(name='description', content=pageDescription)
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	block stylesheets
		link(rel='stylesheet', href= baseUrl + 'assets/styles/main.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap')

- var home = isHome ? 'is-home' : ''

body
	<!--[if lt IE 11]>
	<p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	+site-header

	block content

	+site-footer

	block scripts
		script(src= baseUrl + 'assets/scripts/main.js')

</html>
