mixin site-header(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	header.site-header
		//- .site-header__top
		//- 	.container
		//- 		span
		//- 			i.icon-phone
		//- 			| (65) 6791 1744

		//- 		ul
		//- 			li
		//- 				a(href="#") Prospective Students
		//- 			li
		//- 				a(href="#") Current Students
		//- 			li
		//- 				a(href="#") Alumni
		//- 			li
		//- 				a(href="#") Faculty/Staff
		//- 			li
		//- 				a(href="#") Media
		//- 			li
		//- 				a(href="#") Partners/Peers
		//- 			li
		//- 				a(href="#") Suppliers
		//- 			li
		//- 				a(href="#")
		//- 					i.icon-login
		//- 					| Login
		//- .site-header__bottom
		//- 	.container
		//- 		.site-header__logo
		//- 			img(src="/assets/images/logo.png", alt="")
		//- 		.site-header__nav
		//- 			ul
		//- 				li
		//- 					a(href="#") About NTU
		//- 				li
		//- 					a(href="#")
		//- 						| Global
		//- 				li
		//- 					a(href="#") Admissions
		//- 				li
		//- 					a(href="#") Academics
		//- 				li
		//- 					a(href="#") Research
		//- 				li
		//- 					a(href="#") Campus Life
		//- 		.site-header__search
		//- 			button(type="button")
		//- 				.visuallyHidden Search
		//- 				i.icon-search

		img(src="/assets/images/site-header.jpg", alt="")
