// @font-face {
// 	font-family: 'icomoon';
// 	src:  url('/assets/fonts/icomoon.eot?_replaceThis_');
// 	src:  url('/assets/fonts/icomoon.eot?_replaceThis_#iefix') format('embedded-opentype'),
//   url('/assets/fonts/icomoon.ttf?_replaceThis_') format('truetype'),
//   url('/assets/fonts/icomoon.woff?_replaceThis_') format('woff'),
//   url('/assets/fonts/icomoon.svg?_replaceThis_#icomoon') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: initial;


	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:before {
		font-family: 'icomoon' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		vertical-align: initial;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

%icomoon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: initial;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

