//Media query breakpoints
$bpMobile: 320px;
$bpLgMobile: 420px;
$bpTablet: 768px;
$bpDesktop: 1024px;
$bpLgDesktop: 1280px;

//font settings
$base-fontsize: 15px;
$headerFont: '', Arial, sans-serif;
$primaryFont: 'Roboto', Arial, sans-serif;

/* COLOURS */
