//Import helpers
@import './_variables';
@import './_mixins';
@import './_helpers';
@import './_icons';
@import './_grids';

// Normalize Styles
@import 'node_modules/normalize.css/normalize';

//Plugin Styles
@import 'node_modules/slick-carousel/slick/slick.scss';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background: #000;
}

body {
	font-family: $primaryFont;
	font-size: 15px;
	line-height: 178%;
	color: #333333;
	// max-width: 1440px;
	margin: 0 auto;
	// box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #F9F9F9;
}

img {
	max-width: 100%;
	vertical-align: top;
}

// Import Modules

// Utils
@import '../_modules/utils/section/section';
@import '../_modules/utils/select-clone/select-clone';
@import '../_modules/utils/table-responsive/table-responsive';

// Atoms
@import '../_modules/atoms/button/button';

// Molecules
@import '../_modules/molecules/breadcrumb/breadcrumb';
@import '../_modules/molecules/side-nav/side-nav';

// Organisms
@import '../_modules/organisms/site-header/site-header';
@import '../_modules/organisms/site-footer/site-footer';
@import '../_modules/organisms/rte/rte';
@import '../_modules/organisms/related-articles/related-articles';
