mixin breadcrumb(spec)
	- spec = spec || {
				"level1": "Level 1",
				"level2": "Level 2"
			}
	- spec.__class = spec.__class || ''

	.breadcrumb.desktop-only
		ul
			li
				a(href="/")
					i.icon-home
			if !spec.level2
				li.active
					span=spec.level1
			else
				li.active
					a(href="#")=spec.level1
				li
					span=spec.level2
