extends _layouts/base

include _modules/atoms/button/button

block content
	main.main-content
		div
			img(src="/assets/images/grids.jpg", alt="")
		div
			img(src="/assets/images/spread.jpg", alt="")
		div
			img(src="/assets/images/glimpse.jpg", alt="")
