mixin related-articles(spec)
    - spec = spec || {}
    - spec.__class = spec.__class || ''

    .related-articles(class=spec.__class)&attributes(attributes)
        h2 You may also be interested in:

        ul
            each article in spec.articles
                li.related-article-item
                    .related-article-item__image
                        img(src=article.image, alt="")
                    .related-article-item__text
                        h3
                            a(href=article.url)=article.title
                        p=article.text
