// related-articles styles
.related-articles {
    clear: both;
    width: 100%;
    padding: 50px 0 45px;
    border-top: 1px solid rgba(0,0,0,0.2);

    h2 {
        font-size: 20px;
        line-height: 155%;
        margin: 0 0 37px;
    }

    ul {
        @include normalise-list;
    }

    .related-article-item {
        display: flex;
        align-items: center;
        margin: 0 0 33px;

        &__image {
            width: 121px;
            width: 121px;
            height: 98px;
            padding: 0 23px 0 0;

            img {
                @include image-cover;
                border-radius: 50%;
            }
        }

        &__text {
            width: calc(100% - 121px);

            h3 {
                font-size: 17px;
                line-height: 155%;
                margin: 0 0 5px;
            }

            a {
                color: #000;
            }

            p {
                color: #333333;
                font-size: 15px;
                line-height: 162%;
                margin: 0;
            }
        }
    }
}





